:root{
     --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3f6ad8;
    --secondary: #6c757d;
    --success: #3ac47d;
    --info: #16aaff;
    --warning: #f7b924;
    --danger: #d92550;
    --light: #eee;
    --dark: #343a40;
    --focus: #444054;
    --alternate: #794c8a;
}
.color-blue{
    color: var(--blue);
}
.color-indigo{
    color: var(--indigo);
}
.color-purple{
    color: var(--purple);
}
.color-pink{
    color: var(--pink);
}
.color-red{
    color: var(--red);
}
.color-orange{
    color: var(--orange);
}
.color-yellow{
    color: var(--yellow);
}
.color-green{
    color: var(--green);
}
.color-teal{
    color: var(--teal);
}
.color-cyan{
    color: var(--cyan);
}
.color-white{
    color: var(--white);
}
.color-gray{
    color: var(--gray);
}
.color-gray-dark{
    color: var(--gray-dark);
}
.color-primary{
    color: var(--primary);
}
.color-secondary{
    color: var(--secondary);
}
.color-success{
    color: var(--success);
}
.color-info{
    color: var(--info);
}
.color-warning{
    color: var(--warning);
}
.color-danger{
    color: var(--danger);
}
.color-light{
    color: var(--light);
}
.color-dark{
    color: var(--dark);
}
.color-focus{
    color: var(--focus);
}
.color-alternate{
    color: var(--alternate);
}