nav.nav {
    position: absolute;
    z-index: 99999;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    height: auto;
    display: inline !important;
    background: rgb(234 234 227 / 1);
}

.nav-link > ul > li {
    list-style: none;
}

.nav-link > ul {
    display: inline-flex;
    padding: 0 0 0 10px;
}

.nav-link > ul > li > a {
    padding: 18.5px 15px 18.5px 15px;
    font-weight: 400;
}
.nav-open{
    overflow-y: hidden;
}
.nav-mobile-close{
    position: fixed;
    z-index: 999999;
    width: 100%;
    top: 0;
    left: 300px;
    height: 100%;
}