div.col{
    padding: 10px;
}
/*mobile*/
@media screen and (min-width: 0px)
{
  div.container-auto::after{
    contain: "";
    clear: both;
    display: table
  }
}
/*mobile {s}*/
@media screen and (max-width: 425px)
{
  div.container-auto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
/*tablet {m}*/
@media screen and (min-width: 425px) and (max-width: 768px)
{
  div.container-auto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
/*tablet {l}*/
@media screen and (min-width: 768px) and (max-width: 1024px)
{
  div.container-auto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
/*laptop large {xl}*/
@media screen and (min-width: 1024px) and (max-width: 1440px)
{
  div.container-auto{
    width: 90%;
    display: block;
    position: absolute;
    margin: 20px 0 0 5%;
  }
  .container-auto > div{
    padding: 5px;
    height: 200px;
    float: left;
    margin: 5px;
  }
  .col.s12{
  width: -moz-available;
  width: -webkit-available;
  }
  .col.s11{
    width: 90%;
  }
  .col.s6{
    width: 48.3%;
  }
  .col.s3{
    width: 23.3%;
  }
  .col.s2{
    width: 15%;
  }
  .col.s1{
    width: 6.68%;
  }
}
/*super large {lg}*/
@media screen and (min-width: 1440px)
{
  div.container-auto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}